@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(1, 1, 42);
  color: white;
}

input{
  color: black;
  border: none;
  outline: none;
}

::-webkit-scrollbar{
  display: none;
}